.col-container{
    margin:  2px;
    /*border:  1px solid lightgray;*/
    border-radius: 2px;

    display:  flex;
    flex-direction: column;
}

.col-title{
    padding:  8px;
}

.task-list{
    padding: 8px;
    display:  flex;
}

@keyframes animatedNumber{
    0%{color: red;font-size:24pt;} 
    50%{color: orange;font-size:32pt;}
   100%{color: red;font-size:24pt;}
}