.col-container{
    margin:  2px;
    /*border:  1px solid lightgray;*/
    border-radius: 2px;

    display:  flex;
    flex-direction: column;
}

.col-title{
    padding:  8px;
}

.task-list{
    padding: 30px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animatedNumber{
    0%{color: red;font-size:24pt;text-shadow: 0 0 4px #f66;} 
    50%{color: orange;font-size:32pt;text-shadow: 0 0 4px #630, 0 0 8px #940, 0 0 12px #ff0;}
   100%{color: red;font-size:24pt;text-shadow: 0 0 4px #f66;}
}