.contenido {
    /*display: flex;*/
}

.tip{
    position: absolute;
    font-size: 20pt;
    font-weight: bold;
    width: 100px;
    z-index: -1;
}

.areas{
    width:  85%;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes vaiven{
    0%{transform: translate(5px,0);}
    50%{transform: translate(-5px,0);}
    100%{transform: translate(5px,0);}
}

@keyframes vaiven2{
    0%{transform: translate(-5px,0) scaleX(-1);}
    50%{transform: translate(5px,0) scaleX(-1);}
    100%{transform: translate(-5px,0) scaleX(-1);}
}