.tip{
    position: absolute;
    font-size: 20pt;
    font-weight: bold;
    width: 100px;
    z-index: -1;
}

.areas{
    width:  85%;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.areas > :first-child{
     margin-top: 100px !important;
     margin-bottom: 200px !important;
}

@keyframes vaiven{
    0%{transform: translate(5px,0);}
    50%{transform: translate(-5px,0);}
    100%{transform: translate(5px,0);}
}

@keyframes vaiven2{
    0%{transform: translate(-5px,0) scaleX(-1);}
    50%{transform: translate(5px,0) scaleX(-1);}
    100%{transform: translate(-5px,0) scaleX(-1);}
}

@keyframes anim{
      from{background-position-x:0px;}
      to{background-position-x:-4140px;}
    }

@keyframes anim2{
      from{background-position-x:0px;transform: scaleX(-1);}
      to{background-position-x:-4140px;transform: scaleX(-1);}
    }